<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Chiedi a Irene</title>
  <meta name="description" content="C'ha una risposta a tutto. Ma non è detto che sia una risposta utile.">
  <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:400,400i,600" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    * {
      box-sizing: border-box;
    }

    html,
    body {
      margin: 0;
      padding: 0;
    }

    html {
      font-size: 10px;
    }

    body {
      font-size: 1.4em;
      font-family: "Open Sans", sans-serif;
    }
  </style>
</head>

<body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27440383-20"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-27440383-20');
  </script>
  <noscript>
    <img src="irene.jpg" width="200" height="200" alt="Irene">
    <strong>Abilita Javascript per parlare con Irene. Se la conoscessi bene lo sapresti che questo è il suo linguaggio.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>