<template>
  <div class="answer">
    <blockquote>{{ answer.text }}</blockquote>
    <img :src="answer.image" width="200" height="200">
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "IreneAnswer",
  data() {
    return {
      bitbull: [
        "Daniele",
        "Gennaro",
        "Alessandro",
        "Alessandra",
        "Lorena",
        "Federica",
        "Francesco",
        "Riccardo",
        "Andra",
        "Nadia",
        "Mirko",
        "Fabio",
        "Davide",
        "Lazza"
      ],
      defaultImage: "irene.jpg"
    };
  },
  computed: {
    ...mapGetters({
      question: "getQuestion"
    }),
    answer() {
      if (this.question) {
        if (this.question.indexOf("?") === -1) {
          // not a question
          return {
            text: "Stai in mano all'arte!",
            image: this.defaultImage
          };
        } else {
          let availableAnswers = [
            {
              text: "Non lo so",
              image: "irene1.jpg"
            },
            {
              text: "Non mi ricordo",
              image: "irene2.jpg"
            },
            {
              text: "Nu sacc'",
              image: "irene3.jpg"
            },
            {
              text:
                "Devi chiedere a " +
                this.bitbull[Math.floor(Math.random() * this.bitbull.length)],
              image: "irene4.jpg"
            }
          ];
          return availableAnswers[
            Math.floor(Math.random() * availableAnswers.length)
          ];
        }
      } else {
        return {
          text: "Uè, uagliò!",
          image: this.defaultImage
        };
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.answer {
  text-align: center;
}
blockquote {
  $border: 1.5rem;
  $left: 2rem;
  display: table;
  max-width: 300px;
  border: solid 1px rgba(#404040, 0.9);
  background-color: white;
  margin: 0 auto 1em;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: inset 6px 6px 10px 0 rgba(64, 64, 64, 0.15);
  &:before,
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-color: white white transparent transparent;
    border-style: solid;
    border-width: $border;
    position: absolute;
    top: calc(100% - 1px);
    left: $left;
  }
  &:before {
    border-width: $border + 0.1;
    border-top-color: rgba(#404040, 0.9);
    border-right-color: rgba(#404040, 0.9);
    top: calc(101% - 1px);
    left: $left - 0.1rem;
  }
}
img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
</style>
