<template>
  <form class="question" @submit="ask">
    <p v-html="instructions"></p>
    <input type="text" v-model="question" @keyup.enter="ask">
    <button @click="ask">{{ action }}</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      question: this.$store.state.question,
      instructions: "<p>Hai un dubbio? <strong>Chiedi a Irene!</strong></p>",
      action: "Chiedile",
      previousQuestion: ""
    };
  },
  methods: {
    ask(e) {
      e.preventDefault();
      this.$store.commit("questionAsked", this.question);
      this.checkQuestion(e.target);
      this.$el.querySelector("input").focus();
      window.scrollTo(0, 0);
    },
    checkQuestion(button) {
      if (this.question === this.previousQuestion) {
        button.className = "animated shake";
        setTimeout(() => {
          button.className = "";
        }, 400);
      }
      if (this.question.indexOf("?") === -1) {
        // not a question
        this.instructions =
          "Funziona meglio se le fai una <strong>domanda</strong> ;)";
      } else {
        this.instructions = "Dai, fanne ancora una :)";
      }
      this.action = "Chiedi a Irene";
      this.previousQuestion = this.question;
    }
  },
  mounted() {
    this.$el.querySelector("input").focus();
  }
};
</script>

<style lang="scss">
.question {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  input,
  button {
    height: 40px;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    display: block;
    border: solid 1px #404040;
    margin: 1em auto 0;
    padding: 0.2rem 1rem;
    width: 100%;
    border-radius: 0;
    appearance: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  button {
    color: white;
    text-transform: uppercase;
    background-color: #404040;
    cursor: pointer;
    &:active {
      background-color: darken(#404040, 10%);
    }
  }
}
</style>
